body{
    background-image: linear-gradient(rgba(173, 165, 165, 0.6), rgba(19, 14, 92, 0.918)), url("bv3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


header img{
    border-radius: 50%;
    height: 12%;
    width: 7%;
    float: left;
    padding-right: 1%;
}

ul{
    list-style-type: none;
    text-align: center;
}
header nav ul li{
    float: right;
    padding: 1%;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}

header h1{
    float: left;

}

#nav_bar2{
    background-color: black;
    float: left;
    height: 10%;
    width: 100%;
}

#nav_bar2 nav ul li{
    margin-left: 0;
    float: left;
    padding-right: 2%;

}

#nav_bar2 nav ul li a{
    text-decoration: none;
    color: WHITE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-align: center;

}

#nav_bar2 nav ul:first-child{
    padding-left: 17%;
}

#page1{
    background-image: url("bv.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 80%;
    width: 100%;
    top: 20%;
}

#page1 > section{
    background-color: rgba(0, 0, 0, 0.566);
    position: relative;
    float: right;
    height: 101.5%;
    width: 50%;
    top: -30%;
}

section p{
    font-size: 250%;
    color: antiquewhite;
    font: bolder;
    text-align: left;
    padding-left: 10%;
}

.button{
    background-color: rgb(15, 17, 72);
    height: 10%;
    width: 15%;
    text-align: center;
    position: relative;
    margin-left: 10%;
    font-size: 100%;
    position: absolute;

}

.button a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: large;
    top: 30%;
    position: relative;
}

.button:hover{
    background-color: rgb(40, 82, 132);
}

#page_2{
    height: 50%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.43);
    padding-left: 5%;
    padding-top: 5%;
}

#page_2 > h1{
    size: medium;
    color: azure;
    display: flex;
}

#page_2 > form{
    display:flex;
    float: left;
    position: relative;
    left: 50%;
    top: -60%;
}